<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :account_type %>
    <%= form.select :account_type, ["Current", "Savings"] %>
  </div>

<% if editBalance %>
  <div class="field">
    <%= form.label :balance %>
    <%= form.number_field :balance %>
  </div>
<% else %>
  <%= hidden_field_tag 'balance', :balance  %>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
