<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="field dropdown form-group dropdown show">
    <%= form.label :account_type %>
    <%= form.select :account_type, ["Current", "Savings"], class: "form-control" %>
  </div>

<% if editBalance %>
  <div class="field form-group">
    <%= form.label :balance %>
    <%= form.number_field :balance, class: "form-control", placeholder: "Balance" %>
  </div>
<% else %>
  <%= hidden_field_tag 'balance', :balance  %>
<% end %>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :account_user_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-secondary"  %>
  </div>
<% end %>
