
<p>
  <strong>Account Number:</strong>
  <%= @account.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @account.account_type %>
</p>


<%= link_to 'Show Balance', show_balance_account_path(@account), class: "btn btn-secondary" %>  |
<%= link_to 'Deposit', deposit_account_path(@account), class: "btn btn-secondary" %>   |
<%= link_to 'Withdraw', withdraw_account_path(@account), class: "btn btn-secondary" %> |
<%= link_to 'Edit', edit_account_path(@account), class: "btn btn-secondary" %> |
<%= link_to 'Back', accounts_path, class: "btn btn-dark" %>
